@import "../../../assets/scss/colors.scss";

.orders-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-top: 1px solid $border-gray;
  font-size: 15px;
  cursor: pointer;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: 1px solid $border-gray;
  }
  &.orders-list__item--ready {
    background-color: $light-green;
    color: white;
  }
  &.orders-list__item--pickuped {
    background-color: grey;
    color: white;
  }
  .orders-list__item-left {
    flex: 1;
    .orders-list__item-number {
      display: block;
      margin-bottom: 10px;
    }
    .orders-list__item-names {
      display: block;
    }
  }
  .orders-list__item-right {
    flex: 1;
    text-align: right;
    .orders-list__item-date {
      display: block;
      margin-bottom: 10px;
    }
    .orders-list__item-status {
      display: block;
    }
  }
}
