@import "../../assets/scss/colors.scss";
@import "../../assets/scss/mediaQuery.scss";

.detail {
  position: relative;
  display: flex;
  max-width: 800px;
  min-height: 500px;
  border: 1px solid $border-gray;
  margin: 0 auto;
  background-color: white;
  @include desktop {
    display: block;
    max-width: 500px;
  }
  @include tablet {
    display: block;
    max-width: 500px;
  }
  @include mobile {
    display: block;
    max-width: 500px;
  }
  .detail__sell-price {
    width: 100%;
    text-align: right;
    display: inline-block;
    padding-bottom: 20px;
  }
}

.detail__left {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 40px 0;
  border-right: 1px solid $border-gray;
  @include desktop {
    width: 100%;
    padding: 0;
    border-right: none;
  }
  @include tablet {
    width: 100%;
    padding: 0;
    border-right: none;
  }
  @include mobile {
    width: 100%;
    padding: 0;
    border-right: none;
  }
}

.detail__img {
  width: 100%;
}

.detail__right {
  width: 50%;
  height: 100%;
  padding: 50px 30px;
  display: flex;
  align-self: center;
  @include desktop {
    width: 100%;
    padding: 30px;
  }
  @include tablet {
    width: 100%;
    padding: 30px;
  }
  @include mobile {
    width: 100%;
    padding: 20px;
  }
  .detail__right-container {
    flex: 1;
  }
}

.detail__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.detail__options {
}

.detail__option {
  display: flex;
  margin-bottom: 30px;
}

.detail__option:last-child {
  margin-bottom: 0;
}

.detail__hot {
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-right: 20px;
  border: 1px solid #fa5252;
  color: #fa5252;
  cursor: pointer;
  font-size: 15px;
  flex: 1;
}

.temperature:last-child {
  margin-right: 0;
}

.detail__hot:hover {
  background-color: #fa5252;
  color: white;
}

.detail__hot.active {
  background-color: #fa5252;
  color: white;
}

.detail__ice {
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #228be6;
  color: #228be6;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
}

.detail__ice:hover {
  background-color: #228be6;
  color: white;
}

.detail__ice.active {
  background-color: #228be6;
  color: white;
}

.option__title {
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 14px;
  flex: 1;
  border: 1px solid black;
  @include mobile {
    font-size: 13px;
  }
}

.option__counter {
  display: flex;
  flex: 3;
}

.counter__minus {
  width: 30%;
  height: 30px;
  border: 1px solid #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.counter__minus:hover {
  background-color: #343a40;
  color: white;
}

.counter__minus--active {
  background-color: #343a40;
  color: white;
}

.counter__number {
  width: 30%;
  height: 30px;
  border: 1px solid #343a40;
  margin: 0 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

input[type="number"].counter__number::-webkit-outer-spin-button,
input[type="number"].counter__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter__number:focus {
  outline: none;
}

.counter__plus {
  width: 30%;
  height: 30px;
  border: 1px solid #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.counter__plus:hover {
  background-color: #343a40;
  color: white;
}

.couter__plus--active {
  background-color: #343a40;
  color: white;
}

.option__size {
  height: 40px;
  border: 1px solid #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
}

// .option__size:hover {
//   background-color: #343a40;
//   color: white;
// }

.option__size.active {
  background-color: #343a40;
  color: white;
}

.detail__buttons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  .button {
    width: 40%;
  }
}

.detail__button {
  height: 40px;
  flex: 1;
}

.detail__button:first-child {
  margin-right: 20px;
}

.detail__prices {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 20px;
  .total {
    display: inline-block;
    text-align: right;
  }
}
