.user-info__form {
  margin: 40px 0;
  .input.user-info__input {
    margin-bottom: 10px;
  }
  .button.user-info__button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
