@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
 font-family: 'Noto Sans KR', sans-serif;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.content-head h3{
  color: rgb(33, 37, 41);
  font-size: 32px;
  font-weight: 500;
}

.content-table {
  min-width: 932px;
}