<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.internship.tmontica.repository.OptionDao">
    <!-- getOptionById  : 전체 옵션 가져오기 -->
    <select id="getAllOptions" resultType="option">
		SELECT * FROM options
	</select>

    <!-- Option getOptionById(int id); -->
    <select id="getOptionById" parameterType="int" resultType="option">
        SELECT * FROM options WHERE id = #{id}
    </select>

    <!-- int addOption(Option option);-->
    <insert id="addOption" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO options (name ,price ,type)
        VALUES(#{name}, #{price}, #{type})
    </insert>

    <!-- void updateOption(Option option); -->
    <update id="updateOption" parameterType="option">
        UPDATE options
        SET name = #{name} , price = #{price} , type = #{type}
        WHERE id = #{id}
    </update>

    <!-- deleteOption(int id); -->
    <delete id ="deleteOption" parameterType="int">
        DELETE FROM options WHERE id = #{id}
    </delete>

</mapper>