<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.internship.tmontica.repository.OrderDao">


    <select id="getOrderByOrderId" parameterType="String" resultType="orders">
        select * from orders
        where user_id = #{user_id}
    </select>

    <!--<select id="getAllOptions" resultType="option">
		select * from options
	</select>

    <insert id="insertOption" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO options (name ,price ,type)
        VALUES(#{name}, #{price}, #{type})
    </insert>-->


</mapper>