<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.internship.tmontica.repository.UserDao">
    <!-- int addUser(User user);-->
    <insert id="addUser">
        INSERT INTO users (id ,name ,email, birth_date, password, role, created_date)
        VALUES(#{id}, #{name}, #{email}, #{birthDate}, #{password}, #{role}, #{createdDate})
    </insert>

    <!--User getUserByUserId(String id) -->
    <select id="getUserByUserId" parameterType="String" resultType="user">
		SELECT * FROM users WHERE id = #{id}
	</select>

    <!--String getPasswordByUserId(String id) -->
    <select id="getPasswordByUserId" parameterType="String" resultType="String">
		SELECT password FROM users WHERE id = #{id}
	</select>

    <!-- int updateUserPassword(User user) -->
    <update id="updateUserPassword" parameterType="user">
        UPDATE users
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <!-- int deleteUser(String id) -->
    <delete id ="deleteUser" parameterType="String">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper>