.signup__form {
  margin: 40px 0;
  .input.signup__input {
    margin-bottom: 10px;
  }
  .signup__id-container {
    display: flex;
    margin-bottom: 10px;
    .signup__id-input {
      margin-bottom: 0;
      height: 40px;
      margin-right: 10px;
    }
    .signup__id-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding: 5px 10px;
      width: 100px;
      height: 40px;
    }
  }
  .signup__label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 13px;
    color: red;
    &.signup__label--green {
      color: green;
    }
  }
  .signup__birthday-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .signup__birthday-label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin-right: 10px;
      padding: 5px 10px;
      border: 1px solid #868e96;
      width: 70px;
      height: 40px;
    }
    .signup__birthday-input {
      margin-bottom: 0;
      height: 40px;
    }
  }
  .signup__button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .button.signup__button {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin-top: 12px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
