.signup__form {
  margin: 40px 0;
  .input.signup__input {
    margin-bottom: 10px;
  }
  .signup__birthday {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .signup__birthday-label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin-right: 10px;
      padding: 5px 10px;
      border: 1px solid #868e96;
      width: 70px;
      height: 40px;
    }
    .signup__birthday-input {
      margin-bottom: 0;
      height: 40px;
    }
  }
  .signup__button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .button.signup__button {
      width: 45%;
      margin-top: 12px;
    }
  }
}
