.header {
  border-bottom: 1px solid #ebebeb;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  width: 50px;
}

.header__items {
  display: flex;
  justify-content: space-between;
}

.header__item {
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
}

.header__item:first-child {
  margin-left: 0;
}

.banner__wrapper {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
}

.banner {
  border: 1px solid #ebebeb;
  height: 150px;
}

.banner__img {
}
